header {
    text-align: right;
}

.espacio {
    margin-left: 1.5%;
}

.volver {
    font-size: smaller;
    display: flex;
}

.audio {
    width: 145px;
    height: 20px;
}

.reproductor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.reprocador {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}