.escudosposition {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.simple-bar{
    height: 720px;
    width: 1400px;
    margin-bottom: 50px;
    margin-top: 50px;


}

.escudos{
    width: 200px;
    height: 220px;
}

.contenedor{
    display: flex;
    flex-direction: column;
}

.buscador-casas{
    color: black;
}




.simplebar-track {
    background-color: #2b2b2b;
    width: 4px !important;
  }

.simplebar-scrollbar {
    opacity: 1 !important; 
    transition: none !important; 
    scrollbar-shadow-color: aliceblue;
    width: 5px ;

  }

.simplebar-scrollbar::before,
.simplebar-scrollbar::after {
    opacity: 1 !important; 
    background-color: rgb(255, 255, 255) !important;
    width: 5px ;
}