section{
    margin-bottom: 50px;
}

.detalles-casas{
    display: flex;
    column-gap: 100px;
}

.imagen-dettale-casa{
    width: 300px;
}

.houseName{
    color:white;
    font-size: 20px;
}

.houseDetailsName{
    font-size: 15px;
}

.elementName{
font-size: 9px;
color: white;


}